/*
  Theme Name: AMBA Theme Child
  Theme Author: The Childress Agency
  Theme Author URI: https://childressagency.com
  Template: tol
  Version: 1.0
*/

body{
  font-size:16px;
  font-family:"Quattrocento Sans", sans-serif;
  color:#000;
}

a, input{
  transition:all .3s ease;
}
a{
  color:#e3a700;
}
a:visited{
  color:#c56d00;
}
a:hover,
a:focus,
a:active{
  color:midnightblue;
}
h1{
  font-family:"Quattrocento", serif;
  font-size:36px;
  font-weight:700;
}
img{
  display:block;
  max-width:100%;
  height:auto;
}
img.alignnone,
img.aligncenter{
  display:block;
  margin:25px auto;
  max-width:100%;
  height:auto;
}
img.alignleft{
  display:block;
  max-width:100%;
  height:auto;
  margin:25px 25px 25px 0;
  float:left;
}
img.alignright{
  display:block;
  max-width:100%;
  height:auto;
  margin:25px 0px 25px 25px;
  float:right;
}

.btn-main{
  background-color:#faca3d;
  color:#000;
  font-weight:700;
  text-transform:uppercase;
  padding:10px 40px;
  display:inline-block;
  margin-top:25px;
}
.btn-main:visited{
  color:#000;
}
.btn-main:hover,
.btn-main:focus{
  background-color:#fff;
  color:#000;
  text-decoration:none;
}

#header-nav{
  padding-top:20px;
  padding-bottom:20px;
}

.brand-info p{
  color:#2b5aa7;
  line-height:1.2em;
}
.brand-info p>span{
  color:#bf212a;
  font-family:"Quattrocento", serif;
  font-weight:700;
  display:block;
}
.brand-info .brand-name{
  margin-bottom:3px;
  padding-bottom:3px;
  border-bottom:2px solid #fce49e;
  display:inline-block;
}
.brand-info p.slogan{
  font-size:22px;
  font-style:italic;
  font-weight:700;
  margin-bottom:0;
}
.brand-info p.slogan>span{
  display:inline;
  font-family:"Quattrocento Sans", sans-serif;
}
.brand-info .logo-left{
  display:table-cell;
  vertical-align:top;
}
.brand-info .logo-body{
  display:table-cell;
  vertical-align:bottom;
  padding-left:15px;
}

#navbar .nav a{
  font-size:18px;
  color:#000;
}
#navbar .nav a>.caret{
  margin-left:5px;
}
.dropdown .dropdown-menu{
  left:auto;
  background-color:#fff;
}
#navbar .dropdown-menu>li>a{
  font-size:16px;
}

.navbar-toggle{
  border-color:#000;
  background-color:#fff !important;
}
.navbar-toggle .icon-bar{
  background-color:#000;
}

.hero{
  min-height:694px;
  background-repeat:no-repeat;
  background-size:cover;
  position:relative;
}
.hero-overlay{
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background-color:rgba(0,0,0,.5);
  z-index:1;
}
.hero-caption{
  z-index:2;
  position:absolute;
  max-width:470px;
  top:50%;
  right:0;
  transform:translateY(-50%);
  color:#fff;
  padding-left:15px;
  padding-right:15px;
  text-align:right;
  margin-right:10%;
}
.hero-caption h2{
  font-size:28px;
  font-family:"Quattrocento", serif;
  font-weight:700;
  margin-bottom:25px;
}
.hero-caption h2>small{
  color:#fff;
  font-size:20px;
  font-family:"Quattrocento Sans", sans-serif;
  font-style:italic;
  display:block;
}
.hero-caption p{
  font-size:20px;
  line-height:1.2em;
}

#hp-about{
  padding-top:60px;
  padding-bottom:80px;
  background-repeat:no-repeat;
  background-size:cover;
}
#hp-about article{
  color:#fff;
}

#workshop{
  background-repeat:no-repeat;
  background-size:cover;
}
#workshop .text-side{
  background-color:rgba(0,0,0,.5);
  padding-top:60px;
  padding-bottom:60px;
}
#workshop article{
  color:#fff;
}
h2.workshop-meta{
  font-size:20px;
  font-family:"Quattrocentro Sans", sans-serif;
  text-transform:uppercase;
}
#find-bank{
  margin-top:40px;
  margin-bottom:130px;
}
#find-bank .container{
  background-color:#b57d2b;
}
#find-bank h2{
  font-family:"Quattrocentro", serif;
  font-weight:700;
  font-size:36px;
  text-transform:uppercase;
  color:#fff;
  margin-top:40px;
  margin-bottom:40px;
  padding-top:15px;
  padding-bottom:15px;
  border-top:2px solid #faca3d;
  border-bottom:2px solid #faca3d;
}

#newsletter-signup{
  margin-top:40px;
  margin-bottom:80px;
}
#newsletter-signup .container{
  background-color:#223c7d;
}
.newsletter-form{
  padding-top:40px;
  padding-bottom:40px;
}
.newsletter-form h2{
  font-family:"Quattrocentro", serif;
  font-weight:700;
  font-size:36px;
  text-transform:uppercase;
  color:#fff;
}
.newsletter-form fieldset{
  border:none;
  padding:0;
  margin:0;
}
.newsletter-form label[for="field_ye1zv"]{
  border:0;
  clip:rect(0,0,0,0);
  margin:-1px;
  overflow:hidden;
  padding:0;
  position:absolute;
  width:1px;
}
.newsletter-form input[type="email"]{
  width:100%;
  margin-bottom:15px;
  padding:5px 15px;
  border-radius:0;
}
.newsletter-form .g-recaptcha>div{
  margin:0px auto 15px;
}
.newsletter-form input[type="submit"]{
  background-color:#faca3d !important;
  color:#000 !important;
  font-weight:700;
  text-transform:uppercase;
  border:none;
  border-radius:0;
}
.newsletter-form input[type="submit"]:hover,
.newsletter-form input[type="submit"]:focus{
  background-color:#ccc !important;
}

.btn-signup{
  background-color:#faca3d;
  border:none;
  padding:6px 20px;
  font-weight:700;
  font-size:16px;
  text-transform:uppercase;
  cursor:pointer;
  transition:all .3s ease;
}
.btn-signup:hover,
.btn-signup:focus{
  background-color:#ccc;
}

#blog-summary{
  padding-top:40px;
  padding-bottom:60px;
  background-repeat:no-repeat;
  background-size:cover;
}
#blog-summary h2{
  font-family:"Quattrocento", serif;
  font-size:36px;
  font-weight:700;
  color:#000;
}
.blog-cards{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:center;
  align-items:stretch;
}
.blog-card{
  position:relative;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center center;
  padding:20px;
  width:320px;
  margin:15px;
}
.card-overlay{
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background-color:rgba(0,0,0,.66);
  z-index:1;
}
.card-header,
.card-body{
  position:relative;
  z-index:3;
}
.btn-cat{
  color:#fff;
  font-size:20px;
  font-weight:700;
  text-transform:uppercase;
  padding:3px 15px;
}
.btn-cat:hover,
.btn-cat:focus{
  background-color:#ccc !important;
  color:#000;
  text-decoration:none;
}
#blog-summary .card-body>a{
  color:#fff;
  font-family:"Quattrocento", serif;
  font-weight:700;
  font-size:28px;
}
#blog-summary .card-body>a>h3{
  font-size:inherit;
  margin-top:30px;
}
#blog-summary .card-body>p{
  color:#fff;
  text-transform:uppercase;
}

#resources .panel-title{
  font-size:20px;
}

footer#footer{
  padding:0;
  margin-top:0;
}
#footer-nav{
  background-color:#2b5aa7;
}
#footer-nav .social{
  background-color:#e7e9ea;
  padding:25px;
}
#footer-nav .social p{
  font-weight:700;
  text-transform:uppercase;
  margin-bottom:0;
}
#footer-nav .social a{
  color:#213b7d;
  font-size:40px;
}
#footer-nav .social a+a{
  padding-left:10px;
}
#footer-nav .social a:hover,
#footer-nav .social a:focus{
  color:#faca3d;
}
#footer-nav ul>li>h4{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  font-weight:700;
  text-align:center;
  font-family:"Quattrocento Sans", sans-serif;
}
#footer-nav ul.list-inline>li{
  vertical-align:top;
  margin-top:20px;
  padding-left:10px;
  padding-right:10px;
}
#footer-nav .footer-logo>img{
  margin-top:25px;
}
#footer-nav ul li a{
  color:#fff;
  font-size:14px;
}
#footer-nav ul.list-unstyled{
  margin-left:0;
}

#copyright{
  text-align:center;
  background-color:#223c7d;
  padding-top:25px;
  padding-bottom:25px;
  font-size:14px;
  color:#fff;
}
#copyright p{
  margin-bottom:0;
}
#copyright a{
  color:#fff;
}
#copyright ul.list-inline>li{
  padding-right:10px;
  box-shadow:3px 0px 0px -2px #fff;
}
#copyright ul.list-inline>li:last-child{
  box-shadow:none;
  padding-right:0;
}

.banner{
  height:140px;
  width:100%;
  background-image:url(images/american-flag-thin.jpg);
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
}

#mildocs-footer{
  background-color:#2b5aa7;
  border-top:10px solid #bf212a;
  padding-top:15px;
  padding-bottom:15px;
  text-align:center;
}
#mildocs-footer p{
  color:#fff;
  margin-bottom:0;
  font-weight:700;
}
#mildocs-footer a{
  color:#fff;
}
#mildocs .nav-side{
  background-image:url(images/blue-texture-vertical.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  padding-top:60px;
  padding-bottom:100px;
}
.mildocs-nav{
  max-width:225px;
  margin-left:auto;
  margin-right:auto;
}
.mildocs-nav a{
  color:#fff;
}
.mildocs-nav h2{
  font-family:"Quattrocento", serif;
  font-size:36px;
  font-weight:700;
  border-bottom:1px solid #fff;
  margin-top:0;
  margin-bottom:15px;
  padding-bottom:10px;
}
.mildocs-nav ul>li.active,
.mildocs-nav ul>li.current_page_item{
  font-size:20px;
  font-weight:700;
}
#mildocs .content-side{
  border-top:20px solid #bf212a;
  padding-top:40px;
  padding-bottom:100px;
}
.mildocs-main{
  max-width:825px;
  margin-left:auto;
  margin-right:auto;
}
.mildocs-main article h1{
  margin-top:0;
}
.mildocs-main article h2{
  font-family:"QuattrocentoSans", sans-serif;
  font-size:20px;
  font-weight:700;
  display:inline;
}
.mildocs-main article h3{
  font-family:"QuattrocentoSans", sans-serif;
  font-size:18px;
  font-weight:700;
  display:inline;
}
.mildocs-main article ul{
  padding-left:20px;
}
.mildocs-main article header{
  margin-bottom:20px;
}
.mildocs-main article header>svg,
.mildocs-main article header>img{
  width:70px;
  height:auto;
  display:inline-block;
  vertical-align:middle;
  margin-right:15px;
}
.mildocs-main article header>h1{
  display:inline-block;
  vertical-align:middle;
  margin-bottom:0;
  text-transform:uppercase;
}
.mildocs-main footer hr{
  border-top:5px solid #bf212a;
  width:65px;
  text-align:left;
  margin-left:0;
}
.mildocs-main footer h3{
  font-family:"QuattrcentoSans", sans-serif;
  font-size:20px;
  font-weight:700;
  margin-bottom:0;
}
.mildocs-main footer a{
  color:#000;
  text-decoration:underline;
}


@media (max-width:767px){
  #navbar{
    margin-top:40px;
  }
  .hero-caption{
    margin-right:3%;
  }
  #workshop .image-side img{
    margin:20px auto;
  }
  #hp-about .image-side img{
    margin-top:25px;
  }
  .blog-card{
    margin:25px 15px;
  }
  #mildocs-footer p{
    margin-top:30px;
  }
  #mildocs-footer .mildocs-logo{
    margin-left:auto;
    margin-right:auto;
  }
}

@media (min-width:768px){
  .container-sm-height{
    display:table;
  }
  .container-fluid.container-sm-height{
    width:100%;
  }
  .row-sm-height{
    display:table-row;
  }
  .col-sm-height{
    display:table-cell;
    float:none;
    vertical-align:middle;
  }
  #workshop .image-side img{
    float:right;
  }
  #blog-summary .container-sm-height{
    border-spacing:15px 0px;
  }
  #blog-summary .col-sm-height{
    vertical-align: top;
  }
  #footer-nav .container-fluid{
    padding-right:0px;
  }
  #mildocs-footer .mildocs-logo{
    display:inline-block;
    margin-right:30px;
  }
  #mildocs-footer p{
    display:inline-block;
  }
  #mildocs.container-sm-height{
    padding-left:0;
    padding-right:0;
  }
  #mildocs .col-sm-height{
    vertical-align:top;
  }
}

@media (max-width:991px){
  #find-bank{
    margin-bottom:0;
  }
  #find-bank .container{
    padding-top:25px;
    padding-bottom:25px;
  }
  #newsletter-signup .container{
    padding-top:25px;
    padding-bottom:25px;
  }
}

@media (min-width:992px){
  .platter-icon{
    position:absolute;
    top:20px;
  }
}